[AUTHOR]
# Urheberschaft des Originalplugins. Nicht aendern: LoxBerry identifiziert
# das Plugin ueber NAME und EMAIL, und die Apache-Lizenz verlangt die Nennung.
NAME=Christian Woerstenfeld
EMAIL=git@loxberry.woerstenfeld.de

[PLUGIN]
# In der Originalfassung stand hier VERSION=2021.05.14, obwohl der letzte Tag
# 2022.01.29 hiess - die Datei wurde beim Release nicht mitgezogen.
VERSION=1.0.0
NAME=APC-UPS
FOLDER=apc_ups
TITLE=APC-UPS

[SYSTEM]
INTERFACE=2.0
REBOOT=false
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
# Ohne Architekturbindung: apcupsd und Python 3 laufen auf beiden.
ARCHITECTURE=
CUSTOM_LOGLEVELS=false

[AUTOUPDATE]
# Beide URLs zeigen auf diese Fortfuehrung, nicht auf das Original. Zeigten
# sie auf die Originalquelle, holte LoxBerry beim naechsten Update-Lauf die
# alte Fassung und ueberschriebe den Umbau.
AUTOMATIC_UPDATES=true

RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-APC-UPS/master/release.cfg

PRERELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-APC-UPS/master/prerelease.cfg
